body {
    background-color: pink;
}
#div1,h5 {
    text-align: center;
    max-width: 460px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#div1 {
    color: white;
}
#div2 {
    text-align: left;
    max-width: 460px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
h1:hover {
    color: black;
}

.photo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color: white;
    max-width: 220px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}